@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu toque personal para que el scroll sea suave */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Optimización para que la foto de fondo sea nítida */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}